<div class='dashboard' fxLayout='column' fxFlex>
  <div class='widget-container' fxLayout='row' fxFlex="50">


    <md-card fxFlex fxLayout="row" style="background-color: rgb(236, 64, 122); color: rgb(255, 255, 255);">
      <div class="icon-container" fxFlex="75">

        <md-icon style='font-size:7em'>favorite</md-icon>

      </div>
      <div class='stats' fxLayout='column'>
        <p>stats 1</p>
        <p>stats 2</p>
      </div>
    </md-card>
    <md-card fxFlex fxLayout="row" style="background-color: rgb(236, 64, 122); color: rgb(255, 255, 255);">
      <div class="icon-container" fxFlex="75">

        <md-icon style='font-size:7em'>favorite</md-icon>

      </div>
      <div class='stats' fxLayout='column'>
        <p>stats 1</p>
        <p>stats 2</p>
      </div>
    </md-card>
    <md-card fxFlex fxLayout="row" style="background-color: rgb(236, 64, 122); color: rgb(255, 255, 255);">
      <div class="icon-container" fxFlex="75">

        <md-icon style='font-size:7em'>favorite</md-icon>

      </div>
      <div class='stats' fxLayout='column'>
        <p>stats 1</p>
        <p>stats 2</p>
      </div>
    </md-card>
    <md-card fxFlex fxLayout="row" style="background-color:#dddddd; color: rgb(255, 255, 255);">
      <div class="icon-container" fxFlex="75">

        <md-icon style='font-size:7em'>favorite</md-icon>

      </div>
      <div class='stats' fxLayout='column'>
        <p>stats 1</p>
        <p>stats 2</p>
      </div>
    </md-card>

  </div>

  <div class='chart-container' fxLayout='row' fxFlex="50">
    <md-card fxFlex> test </md-card>
    <md-card fxFlex>chart 2</md-card>
  </div>
</div>
